

{%
    set classes = [
    'col-sm-12',
    'bg-white',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
]
%}

{% set event_type = node.field_event_type.0.value %}

{% if event_type is not empty %}
{% set modal = 'modalEventForm' ~ event_type %}
{% else %}
{% set modal = '' %}
{% endif %}

{% set main_illustration = content.field_illustration.0 %}

{% if main_illustration is not empty %}
	{% set illustration = main_illustration %}
{% else %}
	{% set illustration = file_url(content.field_header_background_img['#items'].entity.uri.value) %}

{% endif %}




<article{{ attributes.addClass(classes) }}>

    <div{{ content_attributes.addClass('node__content', 'one-column__content node__content__news', 'clearfix') }}>

        {% if page %}
          <ul class="event-detail">
        <li class="event-detail__item"><img class="" src="/{{ directory }}/dist/images/svg/calendar.svg" alt="Calendar icon" width="15" height="15" /> <span>{{ date_event }}</span></li>
        <li class="event-detail__item"><img class="" src="/{{ directory }}/dist/images/svg/time.svg" alt="Time icon" width="15" height="15" /> <span> {{ 'From' | t}} {{ content.field_time_range.0['start_date'] }} {{ 'to' | t }} {{ content.field_time_range.0['end_date'] }}</span></li>
        <li class="event-detail__item"><img class="" src="/{{ directory }}/dist/images/svg/location.svg" alt="Location icon" width="15" height="15" /> {{ content.field_event_location }}</li>
    </ul>
    <div class="event-description">{{ content.body }}</div>

    <a class="btn btn--secondary mb-30" href="?event_type={{ event_type }}#{{ modal }}">
        {{ content.field_joining_button.0['#title'] }}
    </a>

        {% endif %}
        <div class="share">
    <p>{{ 'Share this article'|trans }}</p>
    <div class="icons a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="no-link a2a_button_twitter">
            <img src="/themes/custom/openwt2018/assets/images/svg/twitter-black.svg" alt="Twitter">
        </a>
        <a class="no-link a2a_button_facebook">
            <img src="/themes/custom/openwt2018/assets/images/svg/facebook-black.svg" alt="Facebook">
        </a>
        <a class="no-link a2a_button_linkedin">
            <img src="/themes/custom/openwt2018/assets/images/svg/linkedin-black.svg" alt="Linkedin">
        </a>
        <a class="no-link a2a_button_email">
            <img src="/themes/custom/openwt2018/assets/images/svg/mail.svg" alt="Mail">
        </a>
    </div>
</div>
    </div>


</article>

<div class="related-cases event-cases container">
    <h2 class="event-cases__title">{{ content.field_related_cases_title }}</h2>
    {% if (node.field_manual_related_cases.0.value == 1) and (content.field_related_cases[0] is not empty) %}
    <div class="row">
		{{ content.field_related_cases }}
	</div>
	{% else %}
	{{ drupal_view('client_cases', 'event_3_cases_block') }}
	{% endif %}
</div>
<div class="remodal remodal-executive" data-remodal-id="{{ modal }}">
	<button data-remodal-action="close" class="remodal-close"></button>
    <h2 class="remodal__title">{{ content.field_event_modal_title }}</h2>
	<div class="remodal__content">
		{{ content.field_event_form }}
	</div>
</div>
