{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 *
 * @see template_preprocess_select()
 */
#}
{% spaceless %}
    <select{{ attributes }} style="display:none;">
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>

  <div class="select select--h3">
    <input type="hidden" class="select__input" id="" name="" value="" />
    {% set value = "all industries" %}
    {% for option in options %}
      {% if option.selected == true %}
        {% set value = option.label %}
      {% endif %}
    {% endfor %}
    <span class="select__value">{{ value }}</span>
    <span class='select__arrow'>
      <i class="arrow arrow--down"></i>
    </span>
    <ul{{ attributes }}>
      {% for option in options %}
        {% if option.type == 'option' %}
          <li value="{{ option.value }}">{{ option.label }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endspaceless %}
