{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  
  <div class="mouse">
    <div class="roll"></div>
    <div class="rollshadow"></div>
  </div>
<br>
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  <br>
    {{ exposed }}
  {{ attachment_before }}

  <div class="case-columns row" id="client-cases">
    <div class="case-columns__previous"></div>
    <div class="case-columns__next active"></div>
    {{ rows }}
    {{ empty }}
    {{ pager }}
  </div>

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
