{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  <div class="mouse">
    <div class="roll"></div>
    <div class="rollshadow"></div>
  </div>
<br>
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  <br>
    {{ exposed }}
  {{ attachment_before }}

	<div class="container-fluid">
		<div class="row">
			{{ rows }}
			{{ empty }}
			{{ pager }}
		</div>
	</div>

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
