{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <ul{{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }}>
        {{ row.content }}
      </li>
    {% endfor %}

  </ul>

{% if attributes -%}
  </div>
{% endif %}