{% import directory ~ '/templates/macros/generate_tags.html.twig' as macros %}


{% if fields.field_industry_tags.content is not empty %}
  {% set page_tags = fields.field_industry_tags.content|split(',') %}
{% else %}
  {% set page_tags = [] %}
{% endif %}

{% if fields.term_node_tid.content is not empty %}
  {% set blog_tags = fields.term_node_tid.content|split(',') %}
{% else %}
  {% set blog_tags = [] %}
{% endif %}
{% set all_tags = page_tags|merge(blog_tags) %}
{% set max_shown_divs = 2 %}
{% set main_illustration = fields.field_illustration.content|split(',')[0] %}

{% if main_illustration is not empty %}
	{% set illustration = main_illustration %}
{% else %}
	{% set illustration = fields.field_header_background_img.content %}
{% endif %}

{% set fieldnid = fields.nid.content|render|number_format %}
{% set path_to_case = path('entity.node.canonical', {'node':  fieldnid	}) %}
{% if '/node/' in path_to_case|render|render %}
    {% set path_to_case = fields.path.content %}
{% endif %}
{% if fields.counter.content == "1" %}
    <div class="case-wrapper col-12 col-md-6 col-lg-4 col-sm-6 active">
{% else %}
    <div class="case-wrapper col-12 col-md-6 col-lg-4 col-sm-6">
{% endif %}
    <article class="case grid-item">
        <figure class="case__illustration" style='background: #C1D6DB url("{{ illustration }}")' alt="{{ fields.title.content }}"></figure>
<div class="case-description-wrapper">
        <a class="case-link" href="{{ path_to_case }}">
            <h4 class="case__title">{{ fields.title.content }}</h4>
        </a>


        <div class="case__shares">
          {% if project.shares|trim is not empty and project.shares|trim != '0' %}
            {{ project.shares|trim }}
            <img src="/{{ directory }}/dist/images/svg/share.svg" alt="shares">
          {% endif %}
        </div>


        <div class="case__tags">
            {{ macros.generate_tags(all_tags, project.tags, max_shown_divs) }}
        </div>
</div>
    </article>
</div>
