<div class="row news">
  <div class="col-lg-7 col-md-12 highlighted__illustration">
  <div class="mobile-wrapper">
  <a class="no-link" href="{{ fields.view_node.content }}"><img class="image" src="{{ fields.field_illustration.content }}" alt="Highlighted news"></a>
  </div>
  </div>
  <div class="col-lg-5 col-md-12 news__content highlighted_content">
  <div>
  <span class="news__tag">{{ fields.field_news_tag.content }}</span>
  <h2 class="news__title">{{ fields.title.content }}</h2>
  </div>
  <div class="excerpt">
  <span class="news__date">{{ fields.created.content }}</span>
  <span class="news__summary"> - {{ fields.field_summary.content }}</span>
  <span><a class="no-link news__link" href="{{ fields.view_node.content }}">[...]</a></span>
  </div>
</div>
