{% import directory ~ '/templates/macros/generate_tags.html.twig' as macros %}

{% if fields.field_industry_tags.content is not empty %}
	{% set page_tags = fields.field_industry_tags.content|split(',') %}
{% else %}
	{% set page_tags = [] %}
{% endif %}

{% if fields.term_node_tid.content is not empty %}
	{% set blog_tags = fields.term_node_tid.content|split(',') %}
{% else %}
	{% set blog_tags = [] %}
{% endif %}
{% set all_tags = page_tags|merge(blog_tags) %}

{% set max_shown_divs = 2 %}
{% set main_illustration = fields.field_illustration.content|split(',')[0] %}

{% if main_illustration is not empty %}
	{% set illustration = main_illustration %}
{% else %}
	{% set illustration = fields.field_header_background_img.content %}
{% endif %}

{% set fieldnid = fields.nid.content|render|number_format %}
{% set path_to_case = path('entity.node.canonical', {'node':  fieldnid	}) %}
{% if '/node/' in path_to_case|render|render %}
	{% set path_to_case = fields.path.content %}
{% endif %}
{% if path_to_case  is empty %}
	{% set path_to_case = fields.view_node.content %}
{% endif %}
{% set major_tag = blog_tags|first %}

{% if major_tag == 'Artificial Intelligence' %}
	{% set src = 'ai' %}
{% elseif major_tag == 'Analytics' %}
	{% set src = 'Analytics' %}
{% elseif major_tag == 'Business Process Optimization' %}
	{% set src = 'business-process' %}
{% elseif major_tag == 'Development' %}
	{% set src = 'foundry' %}
{% elseif major_tag == 'Mobile Application' %}
	{% set src = 'mobile-app' %}
{% elseif major_tag == 'AR - VR' %}
	{% set src = 'vr' %}
{% elseif major_tag == 'Blueprint' %}
	{% set src = 'ux-design' %}
{% elseif major_tag == 'Digital strategy' %}
	{% set src = 'processes-optimization' %}
{% elseif major_tag == 'Customer Data Management (CDM)' %}
	{% set src = 'custom-data' %}
{% elseif major_tag == 'Content Management System (CMS)' %}
	{% set src = 'cms' %}
{% elseif major_tag == 'Chatbots' %}
	{% set src = 'chatbot' %}
{% elseif major_tag == 'E-commerce' %}
	{% set src = 'ecommerce' %}
{% elseif major_tag == 'Blockchain' %}
	{% set src = 'blockchain' %}
{% elseif major_tag == 'Internet of Things (IOT)' %}
	{% set src = 'iot' %}
{% elseif major_tag == 'DevOps & Continuous Integration' %}
	{% set src = 'devops' %}
{% elseif major_tag == 'Software as a Service (Saas)' %}
	{% set src = 'software-as-service' %}
{% else %}
	{% set src = 'default' %}
{% endif %}

<div class="case-wrapper">
	<article class="case grid-item">
		<a class="case-link" href="{{ path_to_case }}">
			<figure class="case__illustration" style='background: #C1D6DB url("{{ illustration }}")' alt="{{ fields.title.content }}"></figure>
		</a>
		<div class="case-description-wrapper">
			<div class="major-tag">
				<img class="major-tag__icon" src="/{{ directory }}/dist/images/icons/{{ src }}.png" />
				<p class="major-tag__tag">{{ major_tag }}</p>
			</div>

			<a class="case-link" href="{{ path_to_case }}">
				<h4 class="case__title">{{ fields.title.content }}</h4>
			</a>

			<div class="case__tags">
				{{ macros.generate_tags(all_tags, project.tags, max_shown_divs) }}
			</div>
		</div>
	</article>
</div>
