<div class="executive views-col col-lg-4 col-md-4 col-sm-6 col-12">
  <a class="open no-link" href="#executiveDesc_{{ row.index }}">
	  <div class="pic">
		<img src="{{ fields.field_portrait.content }}" />
	</div>
	  <div class="desc">
		  <div class="name">
			  <p class="title">{{ fields.field_first_name.content }} {{ fields.title.content }}</p>
			  <p class="role">{{ fields.field_title.content }}</p>
		  </div>
		  <div class="link">+</div>
	  </div>
  </a>
</div>
<div class="remodal remodal-executive" data-remodal-id="executiveDesc_{{ row.index }}">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="remodal__content">
    <div class="pic">
      <img src="{{ fields.field_portrait.content }}" />
    </div>
    <div class="desc">
      <div class="name">
        <h1>{{ fields.field_first_name.content }} {{ fields.title.content }}</h1>
        <h3>{{ fields.field_title.content }}</h3>
      </div>
      <div class="text">
        <div class="under">{{ fields.body.content }}</div>
      </div>
    </div>
  </div>
</div>
