<section id="open-positions" class="jobs-offers">
	<div class="container">
		<div class="filter">
			<div class="select-description">{{ content.field_skills_filter_description }}</div>
			<div class="select select--h3">
				<input type="hidden" class="select__input" id="" name="" value=""/>
				<span class="select__value">{{ jobs.all_locations }}</span>
				<span class='select__arrow'>
					<i class="arrow arrow--down"></i>
				</span>
				<ul id="select-city">
					{% for location in jobs.locations %}
						<li id="{{ loop.index - 1 }}">{{ location }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{{ content.field_jobs_types }}
	</div>
</section>
