<div class="offers-type">
	<h1 id="{{ content.field_job_type_type.0['#context']['value'] }}" class="type-title"><span class="dot">+</span>{{ content.field_job_type_type.0['#context']['value'] }}</h1>

	<div class="content" style="display: none;">
		<div class="description">
			<h3>{{ content.field_job_type_title }}</h3>
			<p>{{ content.field_job_type_description}}</p>

			{{ content.field_job_type_career }}
		</div>

		<div class="offers">
			<p class="no-offer" style="display: none;">{{ 'No offer available for this location.'|t }}</p>
			{% for job in jobs.all_unencoded %}
					<a class="job-offer no-link" city="{{ job.city }}" href="{{ redirect_url }}?url={{ job.url }}" target="_blank">
						<p class="city">{{ job.city }}</p>
						<p class="title">{{ job.title }}</p>
					</a>
			{% endfor %}
      {# TODO : Free application
      <a class="free-application" href="#">
          <p>Free application</p>
      </a>
      #}
  	</div>
	</div>
</div>
