<section class="team-percentages">
    <div class="elements">
        <div class="element line">
			<div class="image">
				{{ content.field_team_consultant_icon }}
			</div>
			<div class="percentage">
				<h1>{{ content.field_team_consultant_percentage }}</h1>
				<p>{{ content.field_team_consultant_text }}</p>
			</div>
        </div>
        
        <div class="element line">
			<div class="image">
				{{ content.field_team_developer_icon }}
			</div>
			<div class="percentage">
				<h1>{{ content.field_team_developer_percentage }}</h1>
				<p>{{ content.field_team_developer_text }}</p>
			</div>
        </div>
        
        <div class="element">
			<div class="percentage">
				<h1>{{ content.field_team_experts_number }}</h1>
				<p>{{ content.field_team_experts_text }}</p>
			</div>
        </div>
    </div>
</section>
