{%
    set classes = [
    'paragraph graph graph--bar',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div {{ attributes.addClass(classes) }}>
    <div class="container">
        <div class="d-flex flex-md-row flex-column">
        <div class="col-12 col-md-7 graph__title graph--bar__title bg-white">
            <h3 class="bold-title bold-title--medium">{{ content.field_title}}<span class="bold-title__highlight">{{content.field_header_highlight}}</span>{{content.field_sub_title}}</h3>
            
        </div>
        <div class="col-12 col-md-5">
            <div class="graph__image graph--bar__image">
                {{ content.field_common_image}}
            </div>
            
        </div>
    </div>
    </div>
    
</div>
