<section class="client-case-tabs">
	<div class="tabs-header">
		{% for tab in tabs %}
			<div class="tab-title {% if loop.index0 == 0 %} selected {% endif %}" for="tab{{ loop.index }}">{{ tab.tab_title }}</div>
		{% endfor %}
	</div>

	<div class="tabs-container">
		{% for tab in tabs %}
		<div class="tab" id="tab{{ loop.index }}" {% if loop.index0 > 0 %} style="display: none;" {% endif %}>
			<div class="tab-image-container">
				{{ tab.image }}
			</div>
			<div class="tab-content">
				<h2>{{ tab.title }}</h2>
				<p>{{ tab.text }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
