<section class="signature-benefits">
		<div class="row container">
			<div class="col">
				<h2>{{ content.field_title }}</h2></div>
		</div>
    <div class="row container">
		<div class="col-lg column">
			{{ content.field_col_1_icon }}
			<h3>
				{{ content.field_col_1_title }}
			</h3>
			<p>
				{{ content.field_col_1_text }}
			</p>
		</div>
		<div class="col-lg column">
			{{ content.field_col_2_icon }}
			<h3>
				{{ content.field_col_2_title }}
			</h3>
			<p>
				{{ content.field_col_2_text }}
			</p>
		</div>
		<div class="col-lg column">
			{{ content.field_col_3_icon }}
			<h3>
				{{ content.field_col_3_title }}
			</h3>
			<p>
				{{ content.field_col_3_text }}
			</p>
		</div>
    </div>
</section>
