<section class="client-case-images">
    <div class="container">
		<div class="row">
			<div class="col-lg image-case">
				<div class="image-circle">
					{{ content.field_case_image1 }}
				</div>
				<h3>
					{{ content.field_case_title1 }}
				</h3>
				<p>
					{{ content.field_case_subtitle1 }}
				</p>
			</div>
			<div class="col-lg image-case">
				<div class="image-circle">
					{{ content.field_case_image2 }}
				</div>
				<h3>
					{{ content.field_case_title2 }}
				</h3>
				<p>
					{{ content.field_case_subtitle2 }}
				</p>
			</div>
			<div class="col-lg image-case">
				<div class="image-circle">
					{{ content.field_case_image3 }}
				</div>
				<h3>
					{{ content.field_case_title3 }}
				</h3>
				<p>
					{{ content.field_case_subtitle3 }}
				</p>
			</div>
		</div>
    </div>
</section>
