<section class="jobs-goals">
    <div class="row container">
		<div class="col-lg">
			{{ content.field_goal_col_1_icon }}
			<h3>
				{{ content.field_goal_col_1_title }}
			</h3>
			<p>
				{{ content.field_goal_col_1_text }}
			</p>
		</div>
		<div class="col-lg">
			{{ content.field_goal_col_2_icon }}
			<h3>
				{{ content.field_goal_col_2_title }}
			</h3>
			<p>
				{{ content.field_goal_col_2_text }}
			</p>
		</div>
		<div class="col-lg">
			{{ content.field_goal_col_3_icon }}
			<h3>
				{{ content.field_goal_col_3_title }}
			</h3>
			<p>
				{{ content.field_goal_col_3_text }}
			</p>
		</div>
    </div>
</section>
