{%
    set classes = [
    'paragraph journey',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div {{ attributes.addClass(classes) }}>
    <div class="journey__side journey__side--1">
       <div class="bg-white journey__side__content journey-content">
            <h4 class="journey-content__title bold-title bold-title--smaller">{{ content.field_title }}</h4>
            <div class="description journey-content__description">{{ content.field_description }}</div>
            <a class="btn btn--secondary hidden-sm-down" href="{{ content.field_link.0['#url'] }}">
                {{ content.field_link.0['#title'] }}
            </a>
       </div>
    </div>
    <div class="journey__split"></div>
    <div class="journey__side journey__side--2">
        <div class="journey__side__image">
            {{ content.field_image }}
            <div class="journey__side__image__button">
                <a class="btn btn--secondary hidden-md-up" href="{{ content.field_link.0['#url'] }}">
                    {{ content.field_link.0['#title'] }}
                </a>
            </div>
            
        </div>
    </div>
</div>
