{%
    set classes = [
    'paragraph text-with-red-bg',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<section {{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="d-flex row align-items-center justify-content-between">
      <div class="left col col-12 col-md-7">
        <h2 class="left__title">{{ content.field_title }}</h2>
        <div class="left__explanation">{{ content.field_explanation }}</div>
      </div>
      <div class="right col col-12 col-md-4">
        <h2 class="right__title">{{ content.field_red_title }}</h2>
        <div class="right__explanation">{{ content.field_red_explanation }}</div>
      </div>
    </div>
  </div>
</section>
