<section class="team-themes">
	<div class="container">
		<div class="slider">
			<img class="sld-icon" id="icon1" src="{{ content.field_team_theme_1_icon.0['#link_url'] }}" />
			<img class="sld-icon" id="icon2" src="{{ content.field_team_theme_2_icon.0['#link_url'] }}" />
			<img class="sld-icon" id="icon3" src="{{ content.field_team_theme_3_icon.0['#link_url'] }}" />
			
			<img class="sld-image" id="image11" src="{{ content.field_team_theme_1_image_1 }}" />
			<img class="sld-image" id="image12" src="{{ content.field_team_theme_1_image_2 }}" />
			<img class="sld-image" id="image13" src="{{ content.field_team_theme_1_image_3 }}" />
			
			<img class="sld-image" id="image21" src="{{ content.field_team_theme_2_image_1 }}" />
			<img class="sld-image" id="image22" src="{{ content.field_team_theme_2_image_2 }}" />
			<img class="sld-image" id="image23" src="{{ content.field_team_theme_2_image_3 }}" />
			
			<img class="sld-image" id="image31" src="{{ content.field_team_theme_3_image_1 }}" />
			<img class="sld-image" id="image32" src="{{ content.field_team_theme_3_image_2 }}" />
			<img class="sld-image" id="image33" src="{{ content.field_team_theme_3_image_3 }}" />
			
			<h1 class="sld-title" id="title1">{{ content.field_team_theme_1_title }}</h1>
			<h1 class="sld-title" id="title2">{{ content.field_team_theme_2_title }}</h1>
			<h1 class="sld-title" id="title3">{{ content.field_team_theme_3_title }}</h1>
			
			<p class="sld-descr" id="descr1">{{ content.field_team_theme_1_description }}</p>
			<p class="sld-descr" id="descr2">{{ content.field_team_theme_2_description }}</p>
			<p class="sld-descr" id="descr3">{{ content.field_team_theme_3_description }}</p>
		</div>
	</div>
</section>
