<div id="{{ paragraph.id() }}" class="whitepaper-banner-wrapper client_case_{{ content.field_business_solutions_tags['#items'].0.target_id }}">
  <section class="whitepaper-banner" style="background: linear-gradient(rgba(38,61,108,.8),rgba(38,61,108,.8)),url({{ content.field_banner_background_image }}) no-repeat center/cover ">
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12 expertise-icon">{{ content.field_expertise_field_icon }}</div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-10 expertise-description">
      <p class="description">{{ content.field_expertise_description }}</p>
      <div class="link">{{ content.field_whitepaper_link }}</div>
    </div>
  </section>
</div>
