<section class="contact-other-talents">
  <div class="container">
    <h1>{{ content.field_talents_title }}</h1>
    <h3>{{ content.field_talents_subtitle }}</h3>
    <div class="row">
      <div class="col d-flex">
        <div>
          {{ content.field_talents_specialist_picture }}
        </div>
        <div class="specialist-details">
          <span class="specialist-name">{{ content.field_talents_specialist_name }}</span>
          <span>{{ content.field_talents_specialist_job }}</span>
          <span>{{ content.field_talents_specialist_phone }}</span>
          <span>{{ content.field_talents_specialist_mail }}</span>
        </div>
      </div>
    </div>
    {{ content.field_talents_contact_us }}
  </div>
</section>
