<div id="page" class="page__one-column one-column">
 	{# Menu #}
		<nav class="nav">
			<div class="container-fluid-header nav__content">
				<div>
					<a href={{ front_page }} title="{{ 'Home' |t }}" rel="home" class="no-link">
            <div class="nav__logo"></div>
					</a>
				</div>
				<div class="nav__right">
					<div class="nav__menu">
						{{ page.navigation }}
					</div>
					<div class="nav__hamburger"><span></span></div>
				</div>
			</div>
		</nav>
	{# Page #}
	<div id="page-wrapper" class="layout-main-wrapper layout-container page clearfix">
			<div id="main" class="layout-main clearfix">
					<div class="full-header">
						<div class="full-header__image">
							{{ event_header_img }}
						</div>
						<div class="overlap container">
							<div class="one-column__content full-header__banner banner">
								{% if notify_untranslated is not empty %}
									<p class="not-translated-notification">{{ notify_untranslated }}</p>
								{% endif %}
								<h1 class"banner__title">{{ page['#title'] }}</h1>
							</div>
						</div>
					</div>

					<main id="content" class="column main-content main-content--event" role="main">
						<div class="container">
							<div class="content-job">{{ page.content }}</div>
						</div>

						{{ page.footer }}
						<div class="remodal remodal__newsletter" data-remodal-id="modal-newsletter">
								<button data-remodal-action="close" class="remodal-close"></button>
								<p class="remodal__title remodal__newsletter__title">{% trans %}Subcrible to our newsletter{% endtrans %}</p>
								{{ block_webform_newsletter }}
						</div>
					</main>
			</div>
	</div>
</div>
